@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap');

.nui-wrapper {
    display: grid;
    place-items: center;
    height: 100%;
    overflow: hidden;
}

.basic-block {
    border-radius: 5px;
    width: 31.25em;
    height: 25em;
    background: #282c34;
    color: white;
}

.page-wrapper {
    position: relative;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.8rem;
}